! ------------------------------------------------------------------------------
! Personal Variables
! ------------------------------------------------------------------------------
Leslie.bar.font: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*

! ------------------------------------------------------------------------------
! XTerm
! ------------------------------------------------------------------------------
XTerm.termName: xterm-256color

! Font
XTerm*faceName: Liberation Mono
XTerm*faceSize: 9

! Fix the use of 'alt' key
XTerm.vt100.metaSendsEscape: true

! Fix the backspace key for emacs
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! Keybindings
XTerm.vt100.translations: #override \n\
    Ctrl <Key>Insert: copy-selection(CLIPBOARD) \n\
    Shift <Key>Insert: insert-selection(CLIPBOARD)

! History
XTerm.vt100.saveLines: 4096

! No scrollbar
XTerm.vt100.scrollBar: false

! Remove padding
XTerm.vt100.internalBorder: 0

! Colours
XTerm.vt100.foreground: white
XTerm.vt100.background: black
! Black
XTerm.vt100.color0: #000000
! Red
XTerm.vt100.color1: #ff5555
! Green
XTerm.vt100.color2: #55ff55
! Yellow
XTerm.vt100.color3: #ffff55
! Blue
XTerm.vt100.color4: #5555ff
! Magenta
XTerm.vt100.color5: #ff55ff
! Cyan
XTerm.vt100.color6: #55ffff
! Grey
XTerm.vt100.color7: #555555

! Grey
XTerm.vt100.color8: #55555
! Red
XTerm.vt100.color9: #ff5555
! Green
XTerm.vt100.color10: #55ff55
! Yellow
XTerm.vt100.color11: #ffff55
! Blue
XTerm.vt100.color12: #5555ff
! Magenta
XTerm.vt100.color13: #ff55ff
! Cyan
XTerm.vt100.color14: #55ffff
! White
XTerm.vt100.color15: #000000